/* --- gallery start --*/
#gallerySection {
  background-color: var(--grey);
}

.gallery .galleryContainer {
  width: 100%;
}

.gallery .galleryContainer .item {
  position: relative;
  margin: 10px;
  overflow: hidden;
  transition: 0.3s;
  height: 300px;
  width: 400px;
  border-radius: 10%;
}

.gallery .galleryContainer img {
  width: 100%;
  display: block;
  border-radius: 10%;
}

.gallery .galleryContainer .title {
  position: absolute;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  z-index: 11;
  transition: 0.4s;
}

.gallery .galleryContainer .item:hover .title {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .gallery .galleryContainer {
    height: 100%;
    width: 100%;
  }
}
